<a href="{{ url('sip_resource_object', {'road': object.locality.road.alias, 'locality': object.locality.alias, 'id':object.id})}}">{{object.name}}</a>
{% include 'SIPResourceBundle:Object:print.html.twig' %}