<div class="input-append newsLatterBox">
    <input type="email" id="mc4wp_email" class="subscribe-input" placeholder="Email " value="" >
    <div id="subscribe-message" class="span1" style="width:100%; clear:both; padding:0 0 10px 0; margin: 0; color:red; font-size: 14px;"></div>
    <button class="subscribe-button subscribe" type="button" data-link-subscribe = "{{path('sip_resource_mail_subscribe')}}">
        Подписаться
        <i class="fa fa-long-arrow-right">
        </i>
    </button>
</div>